.container{
  position: relative;

}
.quick-menu {
  position: fixed;
  bottom: 10%;
  right: 60px;
  transform: translateY(-50%);
  background-color: #d4d4d4c3;
  padding: 20px;
  border-radius: 20px;
  transition: margin-right 0.5s ;
  margin-right: 0px;
}
.quick-menu ul li {
  margin-bottom: 10px;
 
}

.quick-menu ul li button,
.quick-menu ul li a
{
  cursor: pointer;
  display: block;
  border: none;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #071D2F;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.sidebar{
  background-color: #000;
  width: 120px;
  height: 100vh;
  position: fixed;
  right: -120px;
  transition: 0.3s;
  top: 0;
}

.sidebar a{
  color: #fff;
}
div.quick-menu.active{
  margin-right: 120px;
}

